@use '../features/shared/styles/global.scss';
@use '../features/shared/styles/button.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}
